# pycache paths
*__pycache__*

# test files
test*

# output path
out/*

# any db file
*.db*

# no .vscode
.vscode*

# PHP files
*.php

# Assets path
assets*

# masterdata_i_ja
/masterdata_i_ja

# credentials json
*credentials*.json*
*sifas.json

# temp folder
*temp*

# Kach again scripts
*ka*.py
*ka*.bat

# Idol Story scripts
*is*.py

# Project Honoka scripts
*ph*.py

# scripts for test
*mainE*

# HTML
*.html

# Manifest files
manifest*

# Apple macOS annoying files
*DS_Store*